:root {
  --dark-gray: #1a1a1a;
  --lighter-gray: #5c5c5c;
  --white: #fdfdfd;
}

@keyframes moveup {
  from {
    transform: translateY(0px);
    box-shadow: none;
  }
  to {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@keyframes movedown {
  from {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  to {
    transform: translateY(0px);
    box-shadow: none;
  }
}

html {
  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 20px;
  color: var(--lighter-gray);
  background-color: var(--white);
}

body {
  margin: 0 auto;
  max-width: 40em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

@media (max-width: 600px) {
  body {
    font-size: 0.9em;
    padding: 1em;
  }

  .shortcuts {
    flex-direction: column;
    padding-left: 0;
  }

  .button {
    text-align: center;
  }
}

@media print {
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
}

p {
  margin: 1em 0;
}

a {
  color: #0b6e4f;
  text-decoration: none;
  transition: top ease 0.5;
}

a:visited {
  color: #0b6e4f;
}

ul {
  list-style-type: none;
}

abbr {
  text-decoration: none;
  border: none;
}

hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}

header {
  text-align: center;
}
.shortcuts {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-size: 110%;
}

#photo-container {
  display: flex;
}

#myphoto {
  width: 230px;
  border-radius: 10px;
  animation: movedown 0.5s ease-in;
  margin: auto;
}

#myphoto:hover {
  animation: moveup 0.5s ease-out forwards;
}

.title {
  color: var(--dark-gray);
}

.fas,
.fab {
  font-size: 23px;
}

.anim-section:hover {
  color: var(--dark-gray);
  cursor: default;
}

.anim-section {
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
}

.button {
  background-color: var(--dark-gray);
  border-radius: 30px;
  animation: movedown 0.5s ease-in;
  font-size: 14px;
  padding: 10px;
  margin: 5px;
}

.button:hover {
  animation: moveup 0.5s ease-out forwards;
}

.button-a:visited {
  color: var(--white);
}

.button-a {
  color: var(--white);
  padding: 10px;
}
