:root {
    --dark-gray: #1a1a1a;
    --lighter-gray: #5c5c5c;
}

@keyframes moveup {
    from {
	transform: translateY(0px);
	box-shadow: none;
    }
    to {
	transform: translateY(-10px);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@keyframes movedown {
    from {
	transform: translateY(-10px);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    to {
	transform: translateY(0px);
	box-shadow: none;
    }
}

html {
    line-height: 1.5;
    font-family: Georgia, serif;
    font-size: 20px;
    color: var(--lighter-gray);
    background-color: #fdfdfd;
}

body {
    margin: 0 auto;
    max-width: 40em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        padding: 1em;
    }
    
}

@media print {
    body {
        background-color: transparent;
        color: black;
        font-size: 12pt;
    }
    
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    
    h2, h3, h4 {
        page-break-after: avoid;
    }
    
}

p {
    margin: 1em 0;
}

a {
    color: #0B6E4F;
    text-decoration: none;
    transition: top ease 0.5;
}

a:visited {
    color: #0B6E4F;
}

a:hover {
    transform: translateY(-100px);
}
 
ul {
    list-style-type: none;
    /* padding-left: 1em; */
}

abbr {
    text-decoration: none;
    border: none;
}

blockquote {
    margin: 1em 0 1em 1.7em;
    padding-left: 1em;
    border-left: 2px solid #e6e6e6;
    color: #606060;
}

code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    font-size: 85%;
    margin: 0;
}

pre {
    margin: 1em 0;
    overflow: auto;
}

pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
}

.sourceCode {
    background-color: transparent;
    overflow: visible;
}

hr {
    background-color: #1a1a1a;
    border: none;
    height: 1px;
    margin: 1em 0;
}

table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}

table caption {
    margin-bottom: 0.75em;
}

tbody {
    margin-top: 0.5em;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}

th {
    border-top: 1px solid #1a1a1a;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}

header {
    margin-bottom: 4em;
    text-align: center;
}

#TOC li {
    list-style: none;
}

#TOC a:not(:hover) {
    text-decoration: none;
}

code{
    white-space: pre-wrap;
}

span.smallcaps{
    font-variant: small-caps;
}

span.underline{
    text-decoration: underline;
}

div.hanging-indent{
    margin-left: 1.5em;
    text-indent: -1.5em;
}

ul.task-list{
    list-style: none;
}

.display.math{
    display: block;
    text-align: center;
    margin: 0.5rem auto;
}

.shortcuts{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    width: 70%;
}

h2 {
    font-size: 110%;
}

.shortcuts > * {
    margin-left: auto;
}

.shortcuts a {
    font-size: 14px;
}

#myphoto {
    width: 130px;
    float: left;
    margin-left: 13px;
    border-radius: 10px;
    animation: movedown .5s ease-in;
}

#myphoto:hover {
    animation: moveup .5s ease-out  forwards;
}

.title {
    color: var(--dark-gray);
}

.fas, .fab {
    font-size: 23px;
}

.anim-section:hover {
    color: var(--dark-gray);
    cursor: default;
}

.anim-section {
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
}
